<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary" routerLinkActive="active">
    <input type="radio" [routerLink]="['ej1']" name="options" id="option1"> Problema 1
  </label>
  <label class="btn btn-secondary" routerLinkActive="active">
    <input type="radio" [routerLink]="['ej2']" name="options" id="option2"> Problema 2
  </label>
</div>
