<app-alert *ngIf="msgError?.length > 1" [msg]="msgError"></app-alert>
<button type="button" class="btn btn-primary" (click)="cargarDatos()" >
  Cargar Datos
  <div *ngIf="cargando" class="spinner-grow spinner-grow-sm" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
</button>
<table class="table" *ngIf="datos.length > 1">
  <thead>
  <tr>
    <th scope="col">N°</th>
    <th scope="col">Number</th>
    <th scope="col">Quantity</th>
    <th scope="col">First Position</th>
    <th scope="col">Last Position</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dato of datos; let i = index;" [class]="dato.ocurrencias < 2? 'table-warning' : 'table-success'">
    <td>{{i+1}}</td>
    <td>{{dato.numero}}</td>
    <td>{{dato.ocurrencias}}</td>
    <td>{{dato.first}}</td>
    <td>{{dato.last}}</td>
  </tr>
  </tbody>
</table>
<div *ngIf="datos.length > 1">
  Valores Ordenados:
  <textarea name="" id="" cols="70" rows="1" [disabled]="true">{{datosOrdenados}}</textarea>
</div>
