<app-alert *ngIf="msgError?.length > 1" [msg]="msgError"></app-alert>
<button type="button" class="btn btn-primary" (click)="cargarDatos()" >
  Cargar Datos
  <div *ngIf="cargando" class="spinner-grow spinner-grow-sm" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
</button>
<table class="table" *ngIf="datos.length > 1">
  <thead>
  <tr>
    <th *ngFor="let head of headers"
        scope="col">{{head}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dato of datos; let i = index;">
    <td>{{i+1}}</td>
    <td *ngFor="let key of dato | keyvalue">{{key.value}}</td>
  </tr>
  </tbody>
</table>
